/* BOOK CARD */
.bookCard {
  margin: 1rem;
  border: 1px solid;
  border-radius: 0.25rem;
}

.bookCard p,
.bookCard hr,
.bookCard a,
.bookCard button {
  margin: 0.5rem;
}

.bookTitle {
  font-weight: 700;
  padding-top: 0.75rem;
}

.bookTitle,
.bookAuthor {
  padding-left: 1rem;
}

#bookContainer {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-areas: 'desc img';
  gap: 1rem;
}

#bookContainer p {
  grid-area: desc;
}

#bookContainer img {
  grid-area: img;
}

.bookImg {
  height: max-content;
  margin: 0.75rem;
  padding-bottom: 1rem;
}

.bookDesc {
  padding: 1rem;
}

#linkContainer {
  display: grid;
  grid-template-rows: 1fr 1fr;
}

.saveBtn {
  color: #fffafa;
  font-size: 0.75rem;
  text-align: center;
  background-color: #f72585;
  border: none;
  border-radius: 0.4rem;
  padding: 0.6rem;
  max-width: 20%;
}

.check {
  margin-left: 1rem;
  margin-bottom: -0.7rem;
}

.hide {
  visibility: hidden;
}

.show {
  visibility: visible;
}

@media (max-width: 999px) {
  .saveBtn {
    margin: 0 auto;
    max-width: 30%;
  }
}

@media (max-width: 768px) {
  .bookCard {
    margin: 0.75rem;
  }
  .bookTitle,
  .bookAuthor {
    text-align: center;
  }
  #bookContainer {
    grid-template-columns: 1fr;
    grid-template-areas:
      'img'
      'desc';
  }
  .bookDesc {
    padding: 0.5rem;
  }
  .bookImg,
  .saveBtn {
    margin: 0 auto;
    max-width: initial;
  }
}
